<!DOCTYPE html>
<html lang="zh">
	<head>
    	<meta charset="utf-8">
    	<!-- IE最高引擎 -->
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>后台管理</title>		

		<!-- Fav and touch icons -->
		<link rel="shortcut icon" href="../../static/ico/favicon.png" type="image/x-icon" />    

	    <!-- Css files -->
	    <link href="../../static/admin/css/bootstrap.min.css" rel="stylesheet">				
		<link href="../../static/admin/css/font-awesome.min.css" rel="stylesheet">
		<link href="../../static/admin/css/style.min.css" rel="stylesheet">
	</head>

<body>
<div class="main_a">
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header"><i class="fa fa-list"></i> 文章列表</h3>
			<ol class="breadcrumb">
				<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
				<li><i class="fa fa-file-text"></i>文章管理</li>	
				<li><i class="fa fa-list"></i>文章列表</li>					  	
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
            <form>
                <div class="form-group">
                    <div class="col-sm-2">
                        <select class="form-control">
                        {% for i in abcd %}
                        <option value="">{{ i.name }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control">
                        {% for i in abcde %}
                        <option value=>{{ i.create_date | date:"Y-m-d" }}</option>
                        {% endfor %}
                        </select>

                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span> 筛选
                        </button>
                    </div>
                    <div class="col-sm-2 col-sm-offset-4">
                        <a class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>批量删除
                        </a>
                    </div>
                </div>
            </form>

            <table class="table">
                <thead>
                    <tr>
                        <th><input type="checkbox">全选</th>
                        <th>博文标题</th>
                        <th>标签</th>
                        <th>分类</th>
                        <th>发表日期</th>
                        <th>编辑</th>
                        <th>删除</th>
                    </tr>
                </thead>
                {% for i in abcde %}
                {% for a in abc %}
                <tbody>
                    <tr>
                        <td class="table-checkbox-or-left"><input type="checkbox"></td>
                        <td class="table-checkbox-or-left"><a href="#">{{ i.blog_title }}</a></td>
                        <td>
                            <a href="#">
                            {{ a.name }}
                            </a>
                        </td>
                        <td>

                            <a href="#">
                                {{ i.blog_category.name }}
                            </a>

                        </td>
                        <td>{{ i.create_date | date:"Y-m-d H:i:s" }}</td>
                        <td>
                            <a href="#">
                                <span class="glyphicon glyphicon-pencil" title="编辑博文"></span>
                            </a>
                        </td>
                        <td>
                            <form method="post" action="../../dela/">
                                <a class="btn btn-sm btn-default" title="删除博文">
                                    <span class="glyphicon glyphicon-trash delete-article"></span>
                                </a>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div> 	
    </div>
</div>
</body>
</html>