<!DOCTYPE html>
<html lang="zh">
	<head>
    	<meta charset="utf-8">
    	<!-- IE最高引擎 -->
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>后台管理</title>		

		<!-- Fav and touch icons -->
		<link rel="shortcut icon" href="../../static/ico/favicon.png" type="image/x-icon" />    

	    <!-- Css files -->
	    <link href="../../static/admin/css/bootstrap.min.css" rel="stylesheet">				
		<link href="../../static/admin/css/font-awesome.min.css" rel="stylesheet">
		<link href="../../static/admin/css/style.min.css" rel="stylesheet">

	</head>

<body>
<div class="main_a">
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header"><i class="fa fa-heart-o"></i> 收藏夹</h3>
			<ol class="breadcrumb">
				<li><i class="fa fa-home"></i><a href="admin.html">Home</a></li>
				<li><i class="fa fa-file-text"></i>文章管理</li>	
				<li><i class="fa fa-heart-o"></i>收藏夹</li>					  	
			</ol>
		
			<table class="table">
	            <thead>
	                <tr>
	                    <th><input type="checkbox">全选</th>
	                    <th>ID</th>
	                    <th>博文标题</th>
	                    <th>分类</th>
	                    <th>发表日期</th>
	                    <th>编辑</th>
	                    <th>删除</th>
	                </tr>
	            </thead>
	        </table>
	        
        </div>   
	</div>

	<div class="row">
		
	</div>

</div>
</body>
</html>