<!DOCTYPE html>
<html lang="zh">
	<head>
    	<meta charset="utf-8">
    	<!-- IE最高引擎 -->
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>后台管理</title>		

		<!-- Fav and touch icons -->
		<link rel="shortcut icon" href="../../static/ico/favicon.png" type="image/x-icon" />    

	    <!-- Css files -->
	    <link href="../../static/admin/css/bootstrap.min.css" rel="stylesheet">				
		<link href="../../static/admin/css/font-awesome.min.css" rel="stylesheet">
		<link href="../../static/admin/css/style.min.css" rel="stylesheet">		

	</head>

<body>
<div class="main_a">
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header"><i class="fa fa-columns"></i> 回收站</h3>
			<ol class="breadcrumb">
				<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
				<li><i class="fa fa-file-text"></i>文章管理</li>	
				<li><i class="fa fa-columns"></i>回收站</li>					  	
			</ol>
		</div>
	</div>

	<div class="row">
		
	</div>

</div>
</body>
</html>